In [ ]:
%ls

drive/  sample_data/

In [ ]:
%cd drive/MyDrive/projeto-final-vamoai

/content/drive/MyDrive/projeto-final-vamoai

### Importando bibliotecas necessárias para criação e modificações no Dataframe

In [ ]:
import pandas as pd
import json
import csv

In [ ]:
from pandas import json_normalize
from pathlib import Path
from datetime import datetime

### Criando a conexão com o arquivo no google drive e criando um dataframe

In [ ]:
p = Path(r'/content/drive/MyDrive/projeto-final-vamoai/following.json')
with p.open('r', encoding='utf-8') as f:
    data = json.loads(f.read())
df = pd.json_normalize(data,'relationships_following')

### Criando um segundo dataframe e unindo duas estruturas que estão separadas no mesmo arquivo JSON e criando um terceiro Dataframe com o nome de: 'following'. Após isto, apaguei as colunas que não pretendia utilizar

In [ ]:
df2 = pd.json_normalize(data,['relationships_following',['string_list_data']])
following = pd.concat([df, df2], axis=1)
following.drop(columns=['media_list_data','string_list_data','href','title'], inplace=True )

### Verificando se as mudanças ocorreram com sucesso!

In [ ]:
following.head()

                value   timestamp
0    sitioajardineira  1626465140
1        malluoficial  1625947404
2  maiscoremenoscoisa  1625895847
3   paroquiasantanacg  1625774004
4      daniellapintto  1625628447

### Transformando os dados de tempo de object para datetime

In [ ]:
following['timestamp'] = following['timestamp'].apply(lambda x :  pd.to_datetime(datetime.fromtimestamp(x).strftime('%d/%m/%Y')))

In [ ]:
following.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   value      235 non-null    object
 1   timestamp  235 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 3.8+ KB

### Confirmando as modificações realizadas

In [ ]:
following.head()

                value  timestamp
0    sitioajardineira 2021-07-16
1        malluoficial 2021-10-07
2  maiscoremenoscoisa 2021-10-07
3   paroquiasantanacg 2021-08-07
4      daniellapintto 2021-07-07

### Renomeando as colunas do Dataframe

In [ ]:
following.rename(columns={'value':'titulo','timestamp':'data'},inplace=True)

### Verificando páginas seguidas em determinado período de tempo por meio de um novo Dataframe

In [ ]:
paginas_seguidas = following.loc[(following['data'] > '2020-07-01') & (following['data'] < '2021-01-24')]
paginas_seguidas['titulo'].value_counts()

yulebsr                 1
meajudabiblio           1
bibliocitou             1
bibliotecaifspropria    1
julianeconcolato        1
                       ..
barbara.moreirass       1
biblioteca.senado       1
fabafaculdade           1
bibliotecaifrnlajes     1
filipedeschamps         1
Name: titulo, Length: 87, dtype: int64

In [ ]:
paginas_durante_vamoai.head()

               titulo       data
5      maristelaraupp 2021-05-07
6        frontinsampa 2021-05-07
7     itsmatheuscosta 2021-02-07
10  instrutoralanlago 2021-06-16
11   danmendesoficial 2021-06-15

### Transformando o Dataframe em arquivo csv

In [ ]:
following.to_csv ('following_instagram.csv',index=False)

In [ ]:
from google.colab import files
files.download("following_instagram.csv")